[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/NixOS/nixpkgs.git
[submodule "modules/home-manager"]
	path = modules/home-manager
	url = https://github.com/rycee/home-manager.git
[submodule "private"]
	path = private
	url = git@github.com:LeOtaku/private.git
