.scrollbar,
scrollbar {
    -GtkScrollbar-has-backward-stepper: 0;
    -GtkScrollbar-has-forward-stepper: 0;
    border: none;
    background-color: transparent;
}

scrollbar slider {
    border-radius: 0px;
    border: none;
    margin: 0;
    padding: 2px;
}

.scrollbar.contents,
scrollbar contents {
    background-color: transparent;
    background-image: none;
    background-size: 0;
    border: none;
    border-radius: 0;
}

.scrollbar.trough,
scrollbar trough {
    background-image: none;
    border: none;
}

.scrollbar.vertical slider,
scrollbar.vertical slider {
}

.scrollbar.horizontal.slider,
scrollbar.horizontal slider {
}
